<config>
  <isMovedBorder>100</isMovedBorder>
  <isMovingBorder>100</isMovingBorder>
  <etalonChangeEveryNFps>5000</etalonChangeEveryNFps>
  <etalonHistoryLen>70</etalonHistoryLen>
  <staticHistoryLen>50</staticHistoryLen>
  <filename>datasets/g.mp4</filename>
  <NameVideoWindow>Frame</NameVideoWindow>
  <ShowVideo>True</ShowVideo>
</config>
