cycler==0.10.0
debtcollector==2.3.0
imageio==2.10.1
image-utils==0.1.6
importlib-metadata==4.8.1
imutils==0.5.4
iso8601==0.1.16
kiwisolver==1.3.2
matplotlib==3.4.3
netaddr==0.8.0
netifaces==0.11.0
networkx==2.6.3
numpy==1.21.3
opencv-python==4.5.4.58
oslo.i18n==5.1.0
oslo.utils==4.11.0
packaging==21.0
pbr==5.6.0
Pillow==8.4.0
progressbar==2.5
pyparsing==3.0.1
python-cephlibs==0.94.5.post1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.1.1
scikit-image==0.18.3
scipy==1.7.1
six==1.16.0
tifffile==2021.10.12
typing-extensions==3.10.0.2
wrapt==1.13.2
zipp==3.6.0

