@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500 &display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* для плавности */
  transition: 0.5s ease-in-out;
}

/* ----------------------- Right Click Menu Start -----------------------*/
.context-menu {
  position: absolute;
  z-index: 999;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  padding: 10px 0;
}
.menu > li > a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: unset;
  color: white;
  font-weight: 500;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.menu > li > a:hover {
  background: white;
  color: #1a1a1a;
}
.menu > li > a > i {
  padding-right: 10px;
}
.menu > li.delete > a:hover {
  color: red;
}
/* ----------------------- Right Click Menu End -----------------------*/

/* ----------------------- Table Warnings Start -----------------------*/
.warnings-container button {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: white;
  color: #1a1a1a;
  font-weight: 700;
}

table {
  border: 3px solid #1a1a1a;
  border-collapse: collapse;
  width: 95%;
  margin: 10px;
  color: black;
  margin: 0 auto;
  background-color: white;
}

table td,
table th {
  border: 2px solid white;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}
/* ----------------------- Table Warnings End -----------------------*/

/* ----------------------- Form Start -----------------------*/
.add-form p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-form input {
  border: 2px solid #1a1a1a;
  border-radius: 5px;
  height: 120%;
}

.add-form label {
  display: block;
  font-size: 20px;
}

.add-form .add-btn {
  border-bottom: 3px solid #1a1a1a;
  padding: 10px;
  margin: 30px;
}
/* ----------------------- Form End -----------------------*/

/* ----------------------- Button Start -----------------------*/
button {
  appearance: none;
  background-color: #222226;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  max-height: 40px;
  min-width: 0;
  outline: none;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.lrg {
  width: 100%;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  transform: translateY(-2px);
}
/* ----------------------- Button End -----------------------*/

/* ----------------------- Warnings Start -----------------------*/
.warnings-container {
  height: 100%;
  width: 65%;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #222226;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.warnings-container a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.warnings-container .closebtn {
  position: absolute;
  top: -10px;
  left: -70px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .warnings-container {
    padding-top: 15px;
  }
  .warnings-container a {
    font-size: 18px;
  }
}
/* ----------------------- Warnings End -----------------------*/

/* ----------------------- Modal Start -----------------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 5%;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  border: 3px solid #1a1a1a;
  border-radius: 8px;

  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  height: auto;
}

.close-modal {
  color: #1a1a1a;
  font-size: 50px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ----------------------- Modal End -----------------------*/

/* ----------------------- Main Start -----------------------*/

.main-container {
  /* border: 5px solid #1a1a1a;
  border-radius: 8px; */
  height: 100vh;
  /*подгонка под размер окна*/

  display: grid;
  grid-template-columns: 35% 2fr;
}

/* ----------------------- Main End ----------------------- */

/* ----------------------- Sidebar Start -----------------------*/

.sidebar-container {
  overflow-y: scroll;
}

.settings-container {
  border-bottom: 5px solid #1a1a1a;
  text-align: center;
  padding: 5px;
}

.cards {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  /* Other */
  text-align: center;
  list-style-type: none;
  margin: 5px;
  padding: 0;

  justify-content: center;
}

.card {
  width: 250px;
  height: 90%;
}

/* .input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
  padding-bottom: 10px;
  border-bottom: 3px solid #1a1a1a;
}

.input button{
  width: 50%;
  margin: 0 auto;
} */

.example .card {
  width: 45%;
  margin: 0 auto;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-2px);
}

.card video {
  object-fit: fill;
  box-sizing: border-box;
  border: 3px solid #1a1a1a;
  border-radius: 15px;
  /* фит видео в пределах дива */
  width: 100%;
  height: 100%;
}

.warning video {
  border: 3px solid red;
}

@media (max-width: 1500px) {
  .cards {
    grid-template-columns: repeat(1, auto);
  }

  .card {
    width: 100%;
  }
}
/* ----------------------- Sidebar End -----------------------*/

/* ----------------------- Video Start -----------------------*/

.video-container {
  /* border: 5px solid black; */
  width: 100%;
  overflow-y: auto;
}

.video-container video {
  /* исключение стилей для нормального отображения */
  width: 100% !important;
  height: auto !important;
}

.input-info {
  font-size: larger;
}
/* ----------------------- Video End -----------------------*/

/* ----------------------- Scrollbar Start -----------------------*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 2px solid #1a1a1a;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #1a1a1a;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ----------------------- Scrollbar End -----------------------*/
